# {{ template "chart.name" . }}

![Version: 0.1.0](https://img.shields.io/badge/Version-0.1.0-informational?style=flat-square) ![Type: application](https://img.shields.io/badge/Type-application-informational?style=flat-square) ![AppVersion: latest](https://img.shields.io/badge/AppVersion-latest-informational?style=flat-square)

Neo9 argo events deployment

This chart basically deploys events need for triggering workflows on argo. 
It is possible to replace template which is triggered, this is juste an example.

{{ template "chart.valuesSection" . }}